<ion-view view-title="Contacts" hide-back-button="true">
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-ios-minus-outline"
                ng-click="deleteClicked()"
                ng-hide="data.showReorder"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button"
                ng-click="reorderClicked()"
                ng-hide="data.showDelete">
            Reorder
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
            <ion-item ng-repeat="contact in data.contacts track by $index"
                      ui-sref="contact-detail({ id: $index })"
                      class="item item-avatar"
                      show-delete="shouldShowDelete"
                      show-reorder="shouldShowReorder">
                <img src="img/avatar.png" />
                <h2>{{ contact.name }}</h2>
                <p>{{ contact.position }}</p>

                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onContactDelete(contact)">
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon"
                                    on-reorder="onContactReorder(contact, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>

            <ion-item class="item item-button-right padding" ui-sref="add-contact">
                Add new contact..
                <button class="button button-positive">
                    <i class="icon ion-plus"></i>
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>